[submodule "modules/qmk_firmware"]
	path = modules/qmk_firmware
	url = https://github.com/hitsmaxft/qmk_firmware.git
	branch = annepro2-usb-debug
[submodule "modules/getreuer"]
	path = modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
