[submodule "modules/qmk_firmware"]
	path = modules/qmk_firmware
	url = https://github.com/hitsmaxft/qmk_firmware.git
	branch = codex/annepro2-uart-state-v2
[submodule "modules/getreuer"]
	path = modules/getreuer
	url = https://github.com/getreuer/qmk-modules.git
[submodule "assets/ap2_fw"]
	path = assets/ap2_fw
	url = https://github.com/hitsmaxft/annepro-2-firmware.git
	branch = main
